{% extends 'base/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include "base/header.html.twig" %}
    {% include "home/realisations.html.twig" %}
    {% include "home/blogpost.html.twig" %}
{% endblock %}