<div class="mx-3">Dernières Réalisations</div>
<div class="container my-5 d-flex justify-content-center">
  <div class="card mx-auto" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-6">
        <img
          class="img-fluid rounded-start "
          src="/img/portfolio/thumbnails/1.jpg"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text small">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mx-auto" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-6">
        <img
          class="img-fluid rounded-start "
          src="/img/portfolio/thumbnails/1.jpg"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text small">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
 
</div>
