<div class="mx-3">Dernières Réalisations</div>
<div class="container my-5 d-flex justify-content-center">
{% for painting in paintingList %}
  <div class="card mx-auto" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-6">
        <img
          class="img-fluid rounded-start "
          src="{{ painting.file }}"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{ painting.name }}</h5>
          <p class="card-text small">
            {{ painting.description|u.truncate(200,'...',false) }}
          </p>
        </div>
        <div class="card-footer">
          <p class="card-text text-muted small">
            {{ painting.createdAt|date('d/m/Y') }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  
</div>
