{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Administration</h1>
        <p class="lead">Bienvenue dans votre interface d'administration</p>
    </div>
{% endblock %}