{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="mx-3">Me Contacter</div>
    <div class="container mt-5">
        <div class="w-auto">
            {{ form_start(form) }}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="form-group mb-5">
                <label class="form-label" for="contactName">
                    {{ form_label(form.senderName) }}
                </label>
                {{ form_widget(form.senderName) }}
            </div>

            <div class="form-group mb-5">
                <label class="form-label" for="contactEmail">
                    {{ form_label(form.senderEmail) }}
                </label>
                {{ form_widget(form.senderEmail) }}
            </div>
            <div class="form-group mb-5">
                <label class="form-label" for="contactMessage">
                    {{ form_label(form.message) }}
                </label>
                {{ form_widget(form.message) }}
            </div>
            <div class="form-group mb-5">
                {{ form_widget(form.envoyer) }}
            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

